TheMuseum_Dora_p3.mp4 filter=lfs diff=lfs merge=lfs -text
MIA filter=lfs diff=lfs merge=lfs -text
1B.mp4 filter=lfs diff=lfs merge=lfs -text
TheInvention_Faustine.mp4 filter=lfs diff=lfs merge=lfs -text
TheInvention_Maya.mp4 filter=lfs diff=lfs merge=lfs -text
TheInvention_Morel.mp4 filter=lfs diff=lfs merge=lfs -text
TheMuseum_Alec_Aquarium_p1.mp4 filter=lfs diff=lfs merge=lfs -text
TheMuseum_Alec_p1.mp4 filter=lfs diff=lfs merge=lfs -text
TheMuseum_Alec_p2.mp4 filter=lfs diff=lfs merge=lfs -text
TheMuseum_Alec_p3.mp4 filter=lfs diff=lfs merge=lfs -text
TheMuseum_Ames_p1.mp4 filter=lfs diff=lfs merge=lfs -text
TheMuseum_Ames_p2.mp4 filter=lfs diff=lfs merge=lfs -text
TheMuseum_Ames_p3.mp4 filter=lfs diff=lfs merge=lfs -text
TheMuseum_Dora_Aquarium_part1.mp4 filter=lfs diff=lfs merge=lfs -text
TheMuseum_Dora_Dining_part1.mp4 filter=lfs diff=lfs merge=lfs -text
TheMuseum_Dora_p2.mp4 filter=lfs diff=lfs merge=lfs -text
TheMuseum_Faustine_p1.mp4 filter=lfs diff=lfs merge=lfs -text
TheMuseum_Faustine_p2.mp4 filter=lfs diff=lfs merge=lfs -text
TheMuseum_Faustine_p3.mp4 filter=lfs diff=lfs merge=lfs -text
TheMuseum_Gabe_p1.mp4 filter=lfs diff=lfs merge=lfs -text
TheMuseum_Gloria_p1.mp4 filter=lfs diff=lfs merge=lfs -text
TheMuseum_Morel_p2.mp4 filter=lfs diff=lfs merge=lfs -text
TheMuseum_Morel_p3.mp4 filter=lfs diff=lfs merge=lfs -text
TheRocks_Faustine_Sitting.mp4 filter=lfs diff=lfs merge=lfs -text
TheRocks_Faustine_Walking.mp4 filter=lfs diff=lfs merge=lfs -text
TheShore_Alec_Police.mp4 filter=lfs diff=lfs merge=lfs -text
TheShore_Ames_Argument.mp4 filter=lfs diff=lfs merge=lfs -text
TheShore_Ames_Fisherman.mp4 filter=lfs diff=lfs merge=lfs -text
TheShore_Ames_Police.mp4 filter=lfs diff=lfs merge=lfs -text
TheShore_Faustine_Argument.mp4 filter=lfs diff=lfs merge=lfs -text
TheShore_Gloria_Argument.mp4 filter=lfs diff=lfs merge=lfs -text
TheShore_Morel_Argument.mp4 filter=lfs diff=lfs merge=lfs -text
TheShore_Police_Switch.mp4 filter=lfs diff=lfs merge=lfs -text
