[submodule "Plugins/WebCameraFeed"]
	path = Plugins/WebCameraFeed
	url = https://github.com/bsubbaraman/WebCameraFeed.git
[submodule "Plugins/DDTools"]
	path = Plugins/DDTools
	url = https://github.com/remap/DDTools
[submodule "Plugins/VideoCore"]
	path = Plugins/VideoCore
	url = https://github.com/bsubbaraman/VideoCore
[submodule "Plugins/LaSound"]
	path = Plugins/LaSound
	url = https://github.com/wzq94qzw/LaSound.git
